@model ContosoShrimpWebApp.Models.CultivationData

@{
    ViewData["Title"] = "CEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Cultivation Data</h4>
<hr />
<div class="row">
    <div class = "center">
        <form asp-action="CEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CultivationID" class="control-label"> Cultivation ID</label>
                <input asp-for="CultivationID" class="form-control" />
                <span asp-validation-for="CultivationID" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Estimated_Length" class="control-label">Estimated Length</label>
                <input asp-for="Estimated_Length" class="form-control" />
                <span asp-validation-for="Estimated_Length" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Genetic_Origin" class="control-label">Genetic Origin</label>
                <input asp-for="Genetic_Origin" class="form-control" />
                <span asp-validation-for="Genetic_Origin" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Number_of_seeds" class="control-label">Number Of Seeds</label>
                <input asp-for="Number_of_seeds" class="form-control" />
                <span asp-validation-for="Number_of_seeds" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Estimated_survival" class="control-label">Estimated Survival</label>
                <input asp-for="Estimated_survival" class="form-control" />
                <span asp-validation-for="Estimated_survival" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Est_kg_produced" class="control-label">Estimated Kilograms Produced</label>
                <input asp-for="Est_kg_produced" class="form-control" />
                <span asp-validation-for="Est_kg_produced" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CShowAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
